.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51);
  
}
.formclass{
    padding: 2rem;
    width: 50%;
    background-color: rgb(78, 78, 78);
    color: white;
    border-radius: 10px;
}
/* .form-control1{

} */
 .mb-3a{
    margin-bottom: 1rem !important;
    display: flex;
 }
 .red{
    color: red;
 }